<!DOCTYPE html>
<html dir="rtl" lang="ar">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>اسم المسابقة | المنشئ</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="src/css/tabler-icons.min.css">
  <link rel="stylesheet" href="src/css/datatables.min.css">
  <link rel="stylesheet" href="src/css/tabler.rtl.css">
  <link rel="stylesheet" href="src/css/tabler-social.rtl.css">
  <link rel="stylesheet" href="src/css/tabler-payments.rtl.css">
  <link rel="stylesheet" href="src/css/tabler-vendors.rtl.css">
  <link rel="stylesheet" href="src/css/custom.css">
  <link rel="stylesheet" href="src/css/font.css">
</head>

<body>
  <div class="page">
    <!-- Sidebar -->
    <aside class="navbar navbar-vertical navbar-expand-lg">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-menu"
          aria-controls="sidebar-menu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <h1 class="navbar-brand navbar-brand-autodark">
          <a href="dashboard.html">
            <img src="src/img/logo.svg" width="110" height="32" alt="Tabler" class="navbar-brand-image">
          </a>
        </h1>
        <div class="d-grid px-3">
          <div class="btn justify-content-start">الباقه الحالية: تأسيس</div>
        </div>
        <div class="navbar-nav flex-row d-lg-none">
          <div class="d-none d-lg-flex">
            <div class="nav-item dropdown d-none d-md-flex me-3">
              <a href="#" class="nav-link px-0" data-bs-toggle="dropdown" tabindex="-1" aria-label="Show notifications">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                  stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M10 5a2 2 0 1 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6" />
                  <path d="M9 17v1a3 3 0 0 0 6 0v-1" />
                </svg>
                <span class="badge bg-red"></span>
              </a>
              <div class="nav-item dropdown d-none d-md-flex">
                <a href="#" class="nav-link px-0 me-1" data-bs-toggle="dropdown" tabindex="-1"
                  aria-label="Show notifications">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-message" width="24"
                    height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M8 9h8" />
                    <path d="M8 13h6" />
                    <path
                      d="M18 4a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-5l-5 3v-3h-2a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12z" />
                  </svg>
                  <!-- <span class="badge bg-red"></span> -->
                </a>
                <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-end dropdown-menu-card">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">الرسائل</h3>
                    </div>
                    <div class="list-group list-group-flush list-group-hoverable">
                      <div class="list-group-item">
                        <div class="row align-items-center">
                          <div class="col-auto"><span class="status-dot status-dot-animated bg-red d-block"></span>
                          </div>
                          <div class="col text-truncate">
                            <a href="#" class="text-body d-block">رسالة 1</a>
                            <div class="d-block text-muted text-truncate mt-n1">
                              تحديثات جديده احدثتها منصة جدير في موقعك
                            </div>
                          </div>
                          <div class="col-auto">
                            <a href="#" class="list-group-item-actions">
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon text-muted" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path
                                  d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" />
                              </svg>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-end dropdown-menu-card">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">تنبيهات</h3>
                  </div>
                  <div class="list-group list-group-flush list-group-hoverable">
                    <div class="list-group-item">
                      <div class="row align-items-center">
                        <div class="col-auto"><span class="status-dot status-dot-animated bg-red d-block"></span></div>
                        <div class="col text-truncate">
                          <a href="#" class="text-body d-block">نموذج 1</a>
                          <div class="d-block text-muted text-truncate mt-n1">
                            تحديثات جديده احدثتها منصة جدير في موقعك
                          </div>
                        </div>
                        <div class="col-auto">
                          <a href="#" class="list-group-item-actions">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon text-muted" width="24" height="24"
                              viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                              stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                              <path
                                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" />
                            </svg>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="nav-item dropdown">
            <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown"
              aria-label="Open user menu">
              <span class="avatar avatar-sm" style="background-image: url(./static/avatars/000m.jpg)"></span>
              <div class="d-none d-xl-block ps-2">
                <div>محمد الزاكي</div>
                <div class="mt-1 small text-muted">مدير</div>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <a href="account.html" class="dropdown-item">الحساب</a>
              <a href="settings.html#tabs-text-ex3" class="dropdown-item">الباقات</a>
              <a href="settings.html" class="dropdown-item">الإعدادات</a>
              <a href="login.html" class="dropdown-item text-red">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 icon-tabler icon-tabler-logout" width="24"
                  height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                  stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                  <path d="M9 12h12l-3 -3" />
                  <path d="M18 15l3 -3" />
                </svg>
                <span>تسجيل خروج</span>
              </a>
            </div>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="sidebar-menu">
          <ul class="navbar-nav p-3">
            <li class="nav-item">
              <a class="nav-link" href="dashboard.html">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-apps" width="24"
                    height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M4 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z" />
                    <path d="M4 14m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z" />
                    <path d="M14 14m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z" />
                    <path d="M14 7l6 0" />
                    <path d="M17 4l0 6" />
                  </svg> </span>
                <span class="nav-link-title">
                  الرئيسية
                </span>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" href="#navbar-base" data-bs-toggle="dropdown"
                data-bs-auto-close="false" role="button" aria-expanded="false">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark" width="24"
                    height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M18 7v14l-6 -4l-6 4v-14a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4z" />
                  </svg>
                </span>
                <span class="nav-link-title">
                  المحتوى
                </span>
              </a>
              <div class="dropdown-menu show">
                <ul class="dropdown-menu-columns">
                  <li class="dropdown-menu-column">
                    <a class="dropdown-item active" href="competitions.html">
                      مسابقات
                    </a>
                  </li>
                  <li class="dropdown-menu-column">
                    <a class="dropdown-item" href="questionnaires.html">
                      استبيانات
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="pages.html">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file" width="24"
                    height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M14 3v4a1 1 0 0 0 1 1h4" />
                    <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
                  </svg> </span>
                <span class="nav-link-title">
                  الصفحات
                </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="userdatabase.html">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-users" width="24"
                    height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
                    <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                    <path d="M16 3.13a4 4 0 0 1 0 7.75" />
                    <path d="M21 21v-2a4 4 0 0 0 -3 -3.85" />
                  </svg>
                </span>
                <span class="nav-link-title">قاعدة البيانات</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="appearance.html">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-adjustments-horizontal"
                    width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M14 6m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                    <path d="M4 6l8 0" />
                    <path d="M16 6l4 0" />
                    <path d="M8 12m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                    <path d="M4 12l2 0" />
                    <path d="M10 12l10 0" />
                    <path d="M17 18m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                    <path d="M4 18l11 0" />
                    <path d="M19 18l1 0" />
                  </svg>
                </span>
                <span class="nav-link-title">
                  المظهر
                </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="settings.html">
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings" width="24"
                    height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path
                      d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z" />
                    <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
                  </svg>
                </span>
                <span class="nav-link-title">
                  الإعدادات
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </aside>
    <!-- Navbar -->
    <header class="navbar navbar-expand-md d-none d-lg-flex d-print-none shadow-sm">
      <div class="container-xl">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu"
          aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-nav flex-row order-md-last ms-auto">
          <div class="d-none d-md-flex">
            <a href="#" class="nav-link px-0 me-1" data-bs-toggle="tooltip" data-bs-placement="bottom"
              title="مشاركة الموقع">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-link" width="24" height="24"
                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M9 15l6 -6" />
                <path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464" />
                <path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463" />
              </svg>
            </a>
            <a href="vendor/index.html" class="nav-link px-0 me-1" data-bs-toggle="tooltip" data-bs-placement="bottom"
              title="مشاهدة الموقع">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye" width="24" height="24"
                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" />
              </svg>
            </a>
            <div class="nav-item dropdown d-none d-md-flex">
              <a href="#" class="nav-link px-0 me-1" data-bs-toggle="dropdown" tabindex="-1"
                aria-label="Show notifications">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-message" width="24"
                  height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                  stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M8 9h8" />
                  <path d="M8 13h6" />
                  <path d="M18 4a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-5l-5 3v-3h-2a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12z" />
                </svg>
                <!-- <span class="badge bg-red"></span> -->
              </a>
              <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-end dropdown-menu-card">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">الرسائل</h3>
                  </div>
                  <div class="list-group list-group-flush list-group-hoverable">
                    <div class="list-group-item">
                      <div class="row align-items-center">
                        <div class="col-auto"><span class="status-dot status-dot-animated bg-red d-block"></span></div>
                        <div class="col text-truncate">
                          <a href="#" class="text-body d-block">رسالة 1</a>
                          <div class="d-block text-muted text-truncate mt-n1">
                            تحديثات جديده احدثتها منصة جدير في موقعك
                          </div>
                        </div>
                        <div class="col-auto">
                          <a href="#" class="list-group-item-actions">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon text-muted" width="24" height="24"
                              viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                              stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                              <path
                                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" />
                            </svg>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="nav-item dropdown d-none d-md-flex">
              <a href="#" class="nav-link px-0 me-1" data-bs-toggle="dropdown" tabindex="-1"
                aria-label="Show notifications">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                  stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M10 5a2 2 0 1 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6" />
                  <path d="M9 17v1a3 3 0 0 0 6 0v-1" />
                </svg>
                <span class="badge bg-red"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-end dropdown-menu-card">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">تنبيهات</h3>
                  </div>
                  <div class="list-group list-group-flush list-group-hoverable">
                    <div class="list-group-item">
                      <div class="row align-items-center">
                        <div class="col-auto"><span class="status-dot status-dot-animated bg-red d-block"></span></div>
                        <div class="col text-truncate">
                          <a href="#" class="text-body d-block">نموذج 1</a>
                          <div class="d-block text-muted text-truncate mt-n1">
                            تحديثات جديده احدثتها منصة جدير في موقعك
                          </div>
                        </div>
                        <div class="col-auto">
                          <a href="#" class="list-group-item-actions">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon text-muted" width="24" height="24"
                              viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                              stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                              <path
                                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" />
                            </svg>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="nav-item dropdown">
            <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown"
              aria-label="Open user menu">
              <span class="avatar avatar-sm" style="background-image: url(./static/avatars/000m.jpg)"></span>
              <div class="d-none d-xl-block ps-2">
                <div>محمد الزاكي</div>
                <div class="mt-1 small text-muted">مدير</div>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <a href="account.html" class="dropdown-item">الحساب</a>
              <a href="settings.html#tabs-text-ex3" class="dropdown-item">الباقات</a>
              <a href="settings.html" class="dropdown-item">الإعدادات</a>
              <a href="login.html" class="dropdown-item text-red">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 icon-tabler icon-tabler-logout" width="24"
                  height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                  stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                  <path d="M9 12h12l-3 -3" />
                  <path d="M18 15l3 -3" />
                </svg>
                <span>تسجيل خروج</span>
              </a>
            </div>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="navbar-menu" style="display: none !important;">
          <div>
            <form action="./" method="get" autocomplete="off" novalidate>
              <div class="input-icon">
                <span class="input-icon-addon">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                    stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                    <path d="M21 21l-6 -6" />
                  </svg>
                </span>
                <input type="text" value="" class="form-control" placeholder="Search…" aria-label="Search in website">
              </div>
            </form>
          </div>
        </div>
      </div>
    </header>

    <div class="page-wrapper">
      <!-- Page header -->
      <div class="page-header d-print-none">
        <div class="container-xl">
          <div class="row g-2 align-items-center">
            <div class="col">
              <!-- Page pre-title -->
              <h2 class="page-title mb-2">
                اسم المسابقة
              </h2>
              <ol class="breadcrumb" aria-label="breadcrumbs">
                <li class="breadcrumb-item"><a href="dashboard.html">الرئيسية</a></li>
                <li class="breadcrumb-item"><a href="competitions.html">المسابقات</a></li>
                <li class="breadcrumb-item active"><a href="#">اسم المسابقة</a></li>
              </ol>
            </div>
          </div>
        </div>
      </div>

      <!-- Page body -->
      <div class="page-body">
        <div class="container-xl">
          <form action="">
            <div class="row row-deck row-cards mb-3">
              <div class="col-12">
                <div class="card shadow-sm">
                  <div class="card-body p-2 p-md-3">
                    <div class="mb-4">
                      <label class="form-label m-0">بناء المسابقة</label>
                      <p class="m-0">يمكنك هذا القسم من بناء الهيكل ومحتوى المسابقة.</p>
                    </div>
                    <div class="card mb-3">
                      <div class="card-body p-2 p-md-3">
                        <div class="accordion mb-2 mb-md-3" id="accordionExample">
                          <div class="accordion-item">
                            <h2 class="accordion-header">
                              <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-1" aria-expanded="false" aria-controls="collapse-1">
                                <div class="align-items-center d-flex">
                                  <div class="text-primary me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                      class="icon icon-tabler icon-tabler-bookmark" width="24" height="24"
                                      viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                      stroke-linecap="round" stroke-linejoin="round">
                                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                      <path d="M18 7v14l-6 -4l-6 4v-14a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4z"></path>
                                    </svg>
                                  </div>
                                  <div class="d-block">
                                    <h4 class="m-0">المستوى</h4>
                                    <h3 class="m-0">#1</h3>
                                  </div>
                                </div>
                              </button>
                            </h2>
                            <div id="collapse-1" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                              <div class="accordion-body p-2 p-md-3 pt-0">
                                <div class="card mb-3">
                                  <div class="card-body p-2 p-md-3">
                                    <div class="row mb-3">
                                      <div class="col-12 col-md-8">
                                        <div class="row">
                                          <div class="col-12 col-md-2">
                                            <label class="form-label">درجة السؤال</label>
                                            <input type="number" class="form-control" id="" placeholder="اكتب الدرجة">
                                          </div>
                                          <div class="col-12 col-md-10">
                                            <label class="form-label required">السؤال</label>
                                            <input type="name" class="form-control" id="" placeholder="اكتب السؤال">
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-12 col-md-4">
                                        <label for="formFile" class="form-label">مرفقات</label>
                                        <input class="form-control" type="file" id="formFile">
                                      </div>
                                    </div>
                                    <label class="form-label">وصف السؤال</label>
                                    <textarea name="" class="form-control" id=""></textarea>
                                    <div class="mb-3">
                                      <h3 class="mb-3">الإجابات:</h3>
                                      <div class="group">
                                        <label class="form-label">إجابة</label>
                                        <div class="input-group shadow-1">
                                          <input type="text" class="form-control shadow-none" autocomplete="off" />
                                          <span class="input-group-text">
                                            <input class="form-check-input m-0" type="radio" />
                                          </span>
                                        </div>
                                      </div>
                                      <div class="group">
                                        <label class="form-label">إجابة</label>
                                        <div class="input-group shadow-1">
                                          <input type="text" class="form-control shadow-none" autocomplete="off" />
                                          <span class="input-group-text">
                                            <input class="form-check-input m-0" type="radio" />
                                          </span>
                                        </div>
                                      </div>
                                      <div class="btn mt-3">اضف اجابة</div>
                                    </div>
                                  </div>
                                </div>
                                <div class="d-grid d-md-flex gap-2 justify-content-md-center">
                                  <button class="btn" type="button">اضف سؤال جديد</button>
                                  <button class="btn btn-danger" type="button">حذف المستوى</button>
                                  <button class="btn btn-primary" type="button">حفظ المستوى</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- مستوى -->
                        <div class="accordion mb-2 mb-md-3" id="accordionExample">
                          <div class="accordion-item">
                            <h2 class="accordion-header">
                              <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse-2" aria-expanded="true" aria-controls="collapse-2">
                                <div class="align-items-center d-flex">
                                  <div class="text-primary me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                      class="icon icon-tabler icon-tabler-bookmark" width="24" height="24"
                                      viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                      stroke-linecap="round" stroke-linejoin="round">
                                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                      <path d="M18 7v14l-6 -4l-6 4v-14a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4z"></path>
                                    </svg>
                                  </div>
                                  <div class="d-block">
                                    <h4 class="m-0">المستوى</h4>
                                    <h3 class="m-0">#2</h3>
                                  </div>
                                </div>
                              </button>
                            </h2>
                            <div id="collapse-2" class="accordion-collapse collapse show"
                              data-bs-parent="#accordionExample">
                              <div class="accordion-body p-2 p-md-3 pt-0">
                                <div class="card mb-3">
                                  <div class="card-body p-2 p-md-3">
                                    <div class="row mb-3">
                                      <div class="col-12 col-md-8">
                                        <div class="row">
                                          <div class="col-12 col-md-2">
                                            <label class="form-label">درجة السؤال</label>
                                            <input type="number" class="form-control" id="" placeholder="اكتب الدرجة">
                                          </div>
                                          <div class="col-12 col-md-10">
                                            <label class="form-label required">السؤال</label>
                                            <input type="name" class="form-control" id="" placeholder="اكتب السؤال">
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-12 col-md-4">
                                        <label for="formFile" class="form-label">مرفقات</label>
                                        <input class="form-control" type="file" id="formFile">
                                      </div>
                                    </div>
                                    <label class="form-label">وصف السؤال</label>
                                    <textarea name="" class="form-control" id=""></textarea>
                                    <div class="mb-3">
                                      <h3 class="mb-3">الإجابات:</h3>
                                      <div class="group">
                                        <label class="form-label">إجابة</label>
                                        <div class="input-group shadow-1">
                                          <input type="text" class="form-control shadow-none" autocomplete="off" />
                                          <span class="input-group-text">
                                            <input class="form-check-input m-0" type="radio" />
                                          </span>
                                        </div>
                                      </div>

                                      <div class="btn mt-3">اضف اجابة</div>
                                    </div>
                                  </div>
                                </div>
                                <div class="d-grid d-md-flex gap-2 justify-content-md-center">
                                  <button class="btn" type="button">اضف سؤال جديد</button>
                                  <button class="btn btn-danger" type="button">حذف المستوى</button>
                                  <button class="btn btn-primary" type="button">حفظ المستوى</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="d-flex justify-content-center">
                          <button class="btn" type="button">
                            <span class="me-2">اضف مستوي جديد</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bookmark"
                              width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                              fill="none" stroke-linecap="round" stroke-linejoin="round">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                              <path d="M18 7v14l-6 -4l-6 4v-14a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4z"></path>
                            </svg>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="mb-2">
                      <div class="d-flex gap-2 justify-content-between justify-content-md-end">
                        <button class="btn" type="button">حفظ كمسودة</button>
                        <!-- <button class="btn btn-primary" type="button">الخطوة التالية</button> -->
                        <a href="contest-options.html" class="btn btn-primary">الخطوة التالية</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <footer class="footer footer-transparent d-print-none">
        <div class="container-xl">
          <div class="row text-center align-items-center flex-row-reverse">
            <div class="col-lg-auto ms-lg-auto">
              <ul class="list-inline list-inline-dots mb-0">
                <li class="list-inline-item"><a href="#" target="_blank" class="link-secondary" rel="noopener">سياسة
                    الخصوصية</a></li>
                <li class="list-inline-item"><a href="#" target="_blank" class="link-secondary" rel="noopener">الشروط
                    والأحكام</a></li>
                <li class="list-inline-item"><a href="#" target="_blank" class="link-secondary" rel="noopener">اتصل
                    بنا</a></li>
              </ul>
            </div>
            <div class="col-12 col-lg-auto mt-3 mt-lg-0">
              <ul class="list-inline list-inline-dots mb-0">
                <li class="list-inline-item">
                  جميع الحقوق محفوظة
                  <a href="https://jadir.sa" class="link-secondary">منصة جدير</a>
                  2023 &copy;
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <!-- Libs JS -->
    <script src="src/libs/apexcharts/dist/apexcharts.min.js" defer></script>
    <script src="src/libs/jsvectormap/dist/js/jsvectormap.min.js" defer></script>
    <script src="src/libs/jsvectormap/dist/maps/world.js" defer></script>
    <script src="src/libs/jsvectormap/dist/maps/world-merc.js" defer></script>
    <!-- Tabler Core -->
    <script src="src/js/tabler.min.js" defer></script>
    <script src="src/js/demo.min.js" defer></script>
</body>


<header class="navbar navbar-expand-md d-none d-lg-flex d-print-none shadow-sm">
  <div class="container-xl">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu"
      aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav flex-row order-md-last ms-auto">
      <div class="d-none d-md-flex">
        <a href="#" class="nav-link px-0 me-1" data-bs-toggle="tooltip" data-bs-placement="bottom"
          title="مشاركة الموقع">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-link" width="24" height="24"
            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M9 15l6 -6" />
            <path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464" />
            <path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463" />
          </svg>
        </a>
        <a href="vendor/index.html" class="nav-link px-0 me-1" data-bs-toggle="tooltip" data-bs-placement="bottom"
          title="مشاهدة الموقع">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye" width="24" height="24"
            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
            <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" />
          </svg>
        </a>
        <div class="nav-item dropdown d-none d-md-flex">
          <a href="#" class="nav-link px-0 me-1" data-bs-toggle="dropdown" tabindex="-1"
            aria-label="Show notifications">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-message" width="24" height="24"
              viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M8 9h8" />
              <path d="M8 13h6" />
              <path d="M18 4a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-5l-5 3v-3h-2a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12z" />
            </svg>
            <!-- <span class="badge bg-red"></span> -->
          </a>
          <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-end dropdown-menu-card">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">الرسائل</h3>
              </div>
              <div class="list-group list-group-flush list-group-hoverable">
                <div class="list-group-item">
                  <div class="row align-items-center">
                    <div class="col-auto"><span class="status-dot status-dot-animated bg-red d-block"></span></div>
                    <div class="col text-truncate">
                      <a href="#" class="text-body d-block">رسالة 1</a>
                      <div class="d-block text-muted text-truncate mt-n1">
                        تحديثات جديده احدثتها منصة جدير في موقعك
                      </div>
                    </div>
                    <div class="col-auto">
                      <a href="#" class="list-group-item-actions">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon text-muted" width="24" height="24"
                          viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                          stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" />
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="nav-item dropdown d-none d-md-flex">
          <a href="#" class="nav-link px-0 me-1" data-bs-toggle="dropdown" tabindex="-1"
            aria-label="Show notifications">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
              stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M10 5a2 2 0 1 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6" />
              <path d="M9 17v1a3 3 0 0 0 6 0v-1" />
            </svg>
            <span class="badge bg-red"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-end dropdown-menu-card">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">تنبيهات</h3>
              </div>
              <div class="list-group list-group-flush list-group-hoverable">
                <div class="list-group-item">
                  <div class="row align-items-center">
                    <div class="col-auto"><span class="status-dot status-dot-animated bg-red d-block"></span></div>
                    <div class="col text-truncate">
                      <a href="#" class="text-body d-block">نموذج 1</a>
                      <div class="d-block text-muted text-truncate mt-n1">
                        تحديثات جديده احدثتها منصة جدير في موقعك
                      </div>
                    </div>
                    <div class="col-auto">
                      <a href="#" class="list-group-item-actions">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon text-muted" width="24" height="24"
                          viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                          stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" />
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        @* <div class="nav-item dropdown d-none d-md-flex">
          @if (common.GetCurrentSessionObject() != null && common.UserID != 1)
          {
          <notification-directive></notification-directive>
          <chatting-list-directive show-users="true"> </chatting-list-directive>
          }
        </div> *@
      </div>
      <div class="nav-item dropdown">
        @if (homeViewModel.UserSession != null)
        {
        <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-toggle="dropdown" aria-label="Open user menu">
          <img src="~/Content/ControlPanel/images/avatar/avatar.jpg" alt="user" class="avatar avatar-sm" />
          <div class="d-none d-xl-block ps-2">
            <div>
              @if (homeViewModel.Username != null)
              {
              @homeViewModel.Username
              }
              else
              {
              @homeViewModel.UserSession.Username
              }
            </div>
            <div class="mt-1 small text-muted">مدير</div>
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
          <a class="dropdown-item" href="@domain/ControlPanel/#/security/user/editprofileinfo">
            <i class="fas fa-edit"></i>
            @BonianTech.Global.Translator.Translate("EditProfileInformation")
          </a>
          <a class="dropdown-item text-red" href="@domain/Account/LogOut?ReturnURL=@domain/controlPanel/">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 icon-tabler icon-tabler-logout" width="24"
              height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
              <path d="M9 12h12l-3 -3" />
              <path d="M18 15l3 -3" />
            </svg>
            <span>
              @BonianTech.Global.Translator.Translate("LogOut")
            </span>
          </a>
        </div>
        }
        else
        {
        <a class="nav-link" href="@domain/Account/LogOn?ControlPanel=yes">
          <i class="fa fa-sign-in" aria-hidden="true"></i>
          @BonianTech.Global.Translator.Translate("Login")
        </a>
        }


      </div>
    </div>
    <div class="collapse navbar-collapse" id="navbar-menu" style="display: none !important;">
      <div>
        <form action="./" method="get" autocomplete="off" novalidate>
          <div class="input-icon">
            <span class="input-icon-addon">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                <path d="M21 21l-6 -6" />
              </svg>
            </span>
            <input type="text" value="" class="form-control" placeholder="Search…" aria-label="Search in website">
          </div>
        </form>
      </div>
    </div>
  </div>
</header>